.idea/
.idea/.gitignore
.idea/EDPR-APRIL.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml

code/build
code/build/cmake_install.cmake
code/build/CMakeCache.txt
code/build/Makefile
code/build/test.bin
code/build/CMakeFiles/cmake.check_cache
code/build/CMakeFiles/CMakeDirectoryInformation.cmake
code/build/CMakeFiles/CMakeOutput.log
code/build/CMakeFiles/Makefile.cmake
code/build/CMakeFiles/Makefile2
code/build/CMakeFiles/progress.marks
code/build/CMakeFiles/TargetDirectories.txt
code/build/CMakeFiles/3.16.0/CMakeCCompiler.cmake
code/build/CMakeFiles/3.16.0/CMakeCXXCompiler.cmake
code/build/CMakeFiles/3.16.0/CMakeDetermineCompilerABI_C.bin
code/build/CMakeFiles/3.16.0/CMakeDetermineCompilerABI_CXX.bin
code/build/CMakeFiles/3.16.0/CMakeSystem.cmake
code/build/CMakeFiles/3.16.0/CompilerIdC/a.out
code/build/CMakeFiles/3.16.0/CompilerIdC/CMakeCCompilerId.c
code/build/CMakeFiles/3.16.0/CompilerIdCXX/a.out
code/build/CMakeFiles/3.16.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
code/build/CMakeFiles/test.bin.dir/build.make
code/build/CMakeFiles/test.bin.dir/cmake_clean.cmake
code/build/CMakeFiles/test.bin.dir/CXX.includecache
code/build/CMakeFiles/test.bin.dir/depend.internal
code/build/CMakeFiles/test.bin.dir/depend.make
code/build/CMakeFiles/test.bin.dir/DependInfo.cmake
code/build/CMakeFiles/test.bin.dir/flags.make
code/build/CMakeFiles/test.bin.dir/link.txt
code/build/CMakeFiles/test.bin.dir/progress.make
code/build/CMakeFiles/test.bin.dir/test.cpp.o

.vscode/
